{% extends 'base.html.twig' %}

{% block body %}
    {% for complete in completed %}
        <tr>
                <td>{{ complete.id }}</td>
                <td><a href="{{ path('task_show', { 'id': complete.id }) }}">{{ complete.name }}</a></td>
                <td>{{ complete.description }}</td>
                <td>{{ complete.date| date }}</td>
                {% if complete.category %}
                    <td>{{ complete.category.name }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': complete.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': complete.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
        </tr>
    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('app_task_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}