{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block thead %}
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
{% endblock %}
{% block tbody %}
    {%  if completed %}
    {% for complete in completed %}
        <tr>
            <td><a href="{{ path('task_show', { 'id': complete.id }) }}">{{ complete.name }}</a></td>
            <td>{{ complete.date| date }}</td>
            {% if complete.category %}
                <td>{{ complete.category.name }}</td>
            {% endif %}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('task_edit', { 'id': complete.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
{% endblock %}