{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block ul %}
    <a href="{{ path('task_new') }}" class="list-group-item">New task</a>
    <a href="{{ path('app_category_new') }}" class="list-group-item">Category</a>
    <a href="{{  path('app_task_completed') }}" class="list-group-item">Finished</a>
{% endblock %}
    {% block table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                {% if task.checked == false %}
                    <td>
                        <a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.name }}</a>
                    </td>
                    <td>
                    {% if task.date < date() %}
                            <div class="alert alert-danger">
                                <strong>After time!</strong> Is it done?
                            </div>
                    {% else %}
                        {{ task.date| date }}
                    {% endif %}
                    </td>
                    {% if task.category %}
                        <td>{{ task.category.name }}</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
