{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block table %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
    {% block ul %}
        <a href="{{ path('app_task_index') }}" class="list-group-item">Back to the list</a>
    {% endblock %}
