{% extends 'base.html.twig' %}

{% block body %}
{{ parent () }}
{% endblock %}
    {% block thead %}
        <th>{{ task.name }}</th>
        <th>{{ task.date|date }}</th>
        {% if task.category %}
            <th>{{ task.category.name }}</th>
        {% endif %}
    {% endblock %}
    {% block tbody %}
        <tr>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <td>
                {% if notes %}
                    {% for note in notes %}
                        <ul>
                            <li>{{ note.text }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_start(note_form) }}
                {{ form_widget(note_form) }}
                <input type="submit" value="Add note">
                {{ form_end(note_form) }}

            </td>
        </tr>
    {% endblock %}
    {% block ul %}
        <a href="{{ path('task_edit', { 'id': task.id }) }}" class="list-group-item">Edit task</a>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endblock %}