{% extends 'base.html.twig' %}

{% block body %}
{{ parent () }}
{% endblock %}
    {% block table %}
        <h2>{{ task.name }}</h2>
        <h5><strong>Date: </strong>{{ task.date | date}}</h5>
        {% if task.category %}
            <h5><strong>Category: </strong>{{ task.category.name }}</h5>
        {% endif %}
        <p>{{ task.description }}</p>
        <hr>
        <h4>Note</h4>
        <form method="post" action="{{ path('app_note_new') }}">
            <div class="form-group">
                <textarea class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br><br>

    {% endblock %}
    {% block ul %}
            <a href="{{ path('task_edit', { 'id': task.id }) }}" class="list-group-item">Edit task</a>
            <a href="{{ path('app_task_index') }}" class="list-group-item">Start page</a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
    {% endblock %}