{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block thead %}
    <th>Category edit</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}
        </td>
    </tr>
{% endblock %}
{% block ul %}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}