{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block thead %}
    <th>Category List</th>
{% endblock %}
{% block tbody %}
    {% for category in category %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <ul>
                    <li><a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
            <td>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
                {{ form_end(form) }}
            </td>
{% endblock %}


